apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-fastapi
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/nalini1223/GitOps.git
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: hello-fastapi

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
